<link rel="stylesheet" th:href="@{/styles.css}" />
<div xmlns:th = "http://www.thymeleaf.org/" th:fragment = "moreOptionsNavBar">
    <a href="/cars">
        <input type="submit" value="CARS" class="moreOptionsNavBar"/>
    </a>
    <a href="/mobile-phones">
        <input type="submit" value="MOBILE PHONES" class="moreOptionsNavBar">
    </a>
    <a href="/others">
        <input type="submit" value="OTHERS" class="moreOptionsNavBar">
    </a>
    <a href="/euro-currency">
        <input type="submit" value="EURO CURRENCY" class="moreOptionsNavBar">
    </a>
    <a href="/original-currency">
        <input type="submit" value="ORIGINAL CURRENCY" class="moreOptionsNavBar">
    </a>
</div>