<link rel="stylesheet" th:href="@{/styles.css}" />
<div xmlns:th = "http://www.thymeleaf.org/" th:fragment = "navBar">
    <a href="/only-available">
        <input type="submit" value="ONLY AVAILABLE" class="navBar"/>
    </a>
    <a href="/cheapest-first">
        <input type="submit" value="CHEAPEST FIRST" class="navBar">
    </a>
    <a href="/contains-cars">
        <input type="submit" value="CONTAINS CAR" class="navBar">
    </a>
    <a href="/average-stock">
        <input type="submit" value="AVERAGE STOCK" class="navBar">
    </a>
    <a href="/most-expensive-available">
        <input type="submit" value="MOST EXPENSIVE AVAILABLE" class="navBar">
    </a>
</div>