<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Todo CRUD App</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="utf-8" />
  </head>
  <body>
  <form action="/search" method="post" class="d-flex" role="search">
  <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <input type="submit" value="Search" class="btn btn-outline-success">
  </form>
    <table class="table">
      <thead><h1>TODOS FOR TODAY:</h1></thead>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/assignees'">List of assignees</button><br><br>
      <button type="button" class="btn btn-warning" onclick="window.location.href='/add'">Add new todo</button><br><br>
      <tr th:if="${todos.size() > 0}">
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">DONE</th>
        <th scope="col">URGENT</th>
        <th scope="col">ASSIGNEE</th>
      </tr>
      <tr th:each = "item, iter : ${todos}" th:object = "${item}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{done} ? '&#10004;' : '&times;'"></td>
        <td th:text="*{urgent} ? '&#10004;' : '&times;'"></td>
        <td><a th:unless="*{assignee == null}" th:href="@{'/' + *{assignee.id} + '/detail'}" th:text="*{assignee.name}"/></td>
        <td><a th:href="@{'/' + *{id} + '/delete'}" class="btn btn-danger">delete</a></td>
        <td><a th:href="@{'/' + *{id} + '/edit'}" class="btn btn-primary">edit</a></td>
       </tr>
     </table>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   </body>
 </html>