body {
    text-align: center;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    padding: 0 50px;
    font-size: 20px;
    background-color: white;
}

tr:hover {
    background-color: lightgoldenrodyellow;
}

.table {
    margin: 20px auto;
}

h1 {
    padding: 10px 300px;
}

form {
    padding: 10px 100px;
    font-size: 20px;
}

td {
    padding: 20px;
    text-align: left;
}

a:hover {
    color: red;
}

.submit {
    padding: 10px 100px;
    font-size: 20px;
}

.paging {
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
}

.button {
    margin-top: 10px;
}

.fail {
    color: red;
}

.login {
    padding: 10px;
}